{
  email {$ACME_EMAIL}
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}

  on_demand_tls {
    ask http://127.0.0.1:8787/internal/tls/allow
  }
}

dashboard.porffer.dev {
  handle /api/* {
    reverse_proxy 127.0.0.1:8787
  }
  handle /v1/* {
    reverse_proxy 127.0.0.1:8787
  }
  handle {
    reverse_proxy 127.0.0.1:3000
  }
}

https:// {
  tls {
    on_demand
  }
  reverse_proxy 127.0.0.1:8080
}
